/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.row {
    min-height: 800px;
    filter: none;
    -webkit-filter: none;
}

body {
    background-image: url("../norwayispretty.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
